<!doctype html>
<html>
<head>
  <title>Oh, barak!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="icon" href="/images/favicon.ico" />
</head>
<body>

<%- include("menu.ejs") %>


<div class="center">
  <div class="button center_horizontally" id="ohbarak">oh barak</div><br><br>
  <div class="center_horizontally"><input type="checkbox" id="nsfw"> Include NSFW</div>
</div>

<script>
    let all_ohbaraks = <%- ohbaraks %>;
    let ohbaraks_sfw = all_ohbaraks.filter(ohbarak => !ohbarak.nsfw);
    let ohbaraks = ohbaraks_sfw;

    function play(){
      let ohbarak = ohbaraks[Math.floor(Math.random()*ohbaraks.length)];
        new Audio(ohbarak.url).play();
    }

    document.getElementById("ohbarak").addEventListener("click", play);

    document.getElementById("nsfw").addEventListener("change", function() {
        if (this.checked)
            ohbaraks = all_ohbaraks;
        else
            ohbaraks = ohbaraks_sfw;
    });
</script>
</body>
</html>