<!doctype html>
<html>
<head>
    <title>Oh, barak!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/styles.css">

    <link rel="stylesheet" href="/styles/our_team.css">


</head>
<body>

<% include menu.ejs%>


<div class="center">
    <div class="title"> We Have A great team in OhBarak inc. </div>
    <div class="left person">
        <img src="images/hillai.jpg">

        <div class="info">
            <h3> Hillai Ben-Sasson </h3> <br>
            <div class="job_title"> Co-founder and senior developer. </div>

            <div class="info_text"> Hillai is the cyber expert of OhBarak, and without him we would be lost. </div>

            <div class="quote"> “Ya Allah” </div>

        </div>
    </div>
    <div class="right person">
        <img src="images/barak.jpg">


        <div class="info">


            <h3> Barak Ohana </h3> <br>
            <div class="job_title"> Co-founder, senior developer and main investor. </div>

            <div class="info_text"> Barak is the subject of this company, without him we would have no point.</div>

            <div class="quote"> “Please don't make fun of me” </div>

        </div>
    </div>
</div>


</body>
</html>