<!doctype html>
<html>
<head>
    <title>Oh, barak!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>

<%- include("menu.ejs") %>

    <div class="center">
        <div class="button center_horizontally" id="ohbarak">record</div><br><br>
        <div id="recording" class="center_horizontally"></div>
        <div class="center_horizontally">
            <button id="upload_file">Upload File</button>
        </div>
        <br>
        <div class="center_horizontally">
            <button id="submit_recording">Submit Recording</button>
        </div>
    </div>
    <input type="file" id="file_input" style="display:none" accept="audio/*" />


    <script>
        let recorder;
        let recording;
        let recordingSpan = document.getElementById("recording");
        let button = document.getElementById("ohbarak");
        let submit_recording = document.getElementById("submit_recording");
        let upload_file = document.getElementById("upload_file");
        let file_input = document.getElementById("file_input");

        function startRecording() {
            recorder.record();
        }

        function stopRecording() {
            recorder.stop();
            recorder.exportWAV(createDownloadLink)
            recorder.clear();
        }

        function createDownloadLink(blob){
            recording = blob;

            let au = document.createElement('audio');
            au.controls = true;
            au.src = URL.createObjectURL(blob);

            recordingSpan.innerHTML = "";
            recordingSpan.appendChild(au);
        }

        window.onload = function init() {
            try {
                // webkit shim
                window.AudioContext = window.AudioContext || window.webkitAudioContext;
                navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
                window.URL = window.URL || window.webkitURL;

                navigator.getUserMedia(
                    {audio: true},
                    (stream) => recorder = new Recorder(new AudioContext().createMediaStreamSource(stream)),
                    (e) => console.log(e)
                );
            } catch (e) {
                alert('No web audio support in this browser!');
            }
        };

        let second_try_flag = false;

        function sendOhbarak() {
            if (!recording) return;

            postForm('/upload', {ohbarak: recording}, { withCredentials: true }).then(token => {
                get('/upload', {token: token, email: '<%=user.email%>'}, { withCredentials: true }).catch(err => {
                   if(err.status === 500){
                      if(!second_try_flag){
                          second_try_flag = true;
                          sendOhbarak();
                      } else {
                          second_try_flag = false;
                      }

                   }
                });
            });
        }






        button.addEventListener("mousedown", startRecording);
        button.addEventListener("mouseup", stopRecording);
        button.addEventListener("touchstart", startRecording);
        button.addEventListener("touchend", stopRecording);
        upload_file.addEventListener("click", function() {
            file_input.click();
        });
        submit_recording.addEventListener("click", function() {
            second_try_flag = false;
            sendOhbarak();
        });
        file_input.addEventListener("change", function() {
            createDownloadLink(file_input.files[0]);
        });
    </script>

    <script src="scripts/recorder.js"></script>
    <script src="scripts/ajax_util.js"> </script>
</body>
</html>